<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">
      BODY GYM
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div>

</div>
<ion-content>
  <div class="video-content"> <!--video-->
    <div class="frame">
      <iframe width="420" height="280" src="https://www.youtube.com/embed/HQfF5XRVXjU?si=xFil4Hlj4eCOASoA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

  </div>
</ion-content>
<p>Hubica el punto rojo</p>
<p>Te esperamos!</p>
<ion-content>
  <google-map width="95%" height="300px" [center]="center" [zoom]="zoom">
    <map-marker [position]="markerPosition" [options]="markerOptions">
    </map-marker>
  </google-map>
</ion-content>